# Database
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/nest_plan_wedding?schema=public"

# Next.js
NODE_ENV=development

# App
APP_BASE_URL="http://127.0.0.1:3000"
SESSION_MAX_AGE_DAYS=7
